<h1>Sign Up</h1>
<h2>I am a:</h2>
<%= link_to "Student", new_user_registration_path(:role => :student) %><br/>
<%= link_to "Faculty", new_user_registration_path(:role => :faculty) %><br/>
<%= link_to "Alumni", new_user_registration_path(:role => :alumni) %><br/>

